<div class="row" style="width: 150%;">
    <div appDropdown class="btn-group" style="float: right; right: 0px">
        <button type="button" class="btn btn-warning dropdown-toggle">Manage Bookmark <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a (click)="onEditItem()" [routerLink]="['/routePath']" style="cursor: pointer;">Edit Bookmark</a></li>
            <li><a (click)="onDeleteItem()" [routerLink]="['/routePath']" style="cursor: pointer;">Delete Bookmark</a></li>
        </ul>
    </div>
    <div class="">
        <h2>{{item.name}}</h2><br>
    </div>
    <div class="">
        <h4>{{item.description}}</h4>
    </div>
    <div>
        <h4><a [href]=item.url>{{item.url}}</a></h4>
    </div>
    <div class="row" style="margin-left: 2px;">
        <button type="button" class="btn btn-info selected-tag" *ngFor="let tag of item.tags">{{tag.name}}</button>
    </div>
    <br>
    <app-tags></app-tags>
    <br>
</div>