<!-- <app-header></app-header> -->

<div class="container">
	<div class="row">
		<div style="right: 0; padding: 20px; position: absolute; z-index: 1000;">
			<button class="btn btn-primary">Sign In</button>
		</div>
		<div class="col-xs-3" id="filter">
			<app-tag-filter></app-tag-filter>
		</div>
		<div class="col-xs-9" style="padding-left: 40px">
			<div class="row">
				<app-selected-tags></app-selected-tags>
			</div>
			<div class="row">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>