<p>filteredItems.length {{ filteredItems.length }}</p>
<p>selectedTags.size {{ selectedTags.size }}</p>

<!-- No tags selected -->
<div
  *ngIf="filteredItems.length === 0 && selectedTags.size === 0"
  class="col-xs-4"
  style="margin-left: 20px;"
>
  <h1>Select a Tag</h1>
  <app-item
    *ngFor="let itemElement of items"
    [item]="itemElement"
    [index]="itemElement.id"
  >
  </app-item>
</div>

<!-- Tags selected, No items found -->
<div
  *ngIf="selectedTags.size > 0 && filteredItems.length === 0"
  class="col-xs-4"
  style="margin-left: 20px;"
>
  <h1>No Matches Found</h1>
</div>

<!-- Tags selected, Items found -->
<div
  *ngIf="filteredItems.length > 0 && selectedTags.size > 0"
  class="col-xs-4"
  style="margin-left: 20px;"
>
  <app-item
    *ngFor="let itemElement of filteredItems"
    [item]="itemElement"
    [index]="itemElement.id"
  >
  </app-item>
</div>
